<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<html>
    <head>
    	<meta charset="ISO-8859-1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
        <title>Stadistic Web</title>
    </head>
    <script type="text/javascript">

		var frecuencia=parseInt({{ frec }});

		setTimeout(function() { 
			
			location.reload(1);
		}, frecuencia*1000); 	

	</script>

    <body>
    	<div class="container-fluid">
	    	<div class="jumbotron">
	    		<h1 class="display-3">Datos Recolectados</h1>
		    	<table class="table">
				  <thead class="thead-inverse">

				  	<tr>
				  		<th>Periodo de Muestreo (Segundos)</th>
				  	</tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>  {{ frec }}   </td>
				    </tr> 
				  </tbody>
				</table>

				<table class="table">
				  <thead class="thead-inverse">
				  	<tr>
				  		<td>Promedio de Muestras</td>
				  	</tr>
				    <tr>
				      <th>Temperatura</th>
				      <th>Humedad</th>
				      <th>Presion</th>
				      <th>Viento</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><hr > {{ temp }} </hr></td>
				      <td><hr> {{ humedad }} </hr></td>
				      <td><hr> {{ presion }} </hr></td>
				      <td><hr> {{ viento }} </hr></td>
				    </tr>
				  </tbody>
				</table>



				<table class="table">
				  <thead class="thead-inverse">

				  	<tr>
				  		<td>Muestra Actual</td>
				  	</tr>

				    <tr>
				      <th>Temperatura</th>
				      <th>Humedad</th>
				      <th>Presion</th>
				      <th>Viento</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><hr> {{ prom_temp }}</hr></td>
				      <td><hr> {{ prom_humedad }}</hr> </td>
				      <td><hr> {{ prom_presion }}</hr></td>
				      <td><hr>{{ prom_viento }} </hr></td>
				    </tr>
				     <tr>
				     	<td><hr id="FN"> </hr></td>
				     </tr>
				  </tbody>
				</table>
			</div>
		</div>
    </body>
</html>