<html>
    <head>
    	<meta charset="ISO-8859-1">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> 
   		<title>Stadistic Web</title>
    </head>

	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<h1 class="display-3">Datos Cargados Exitosamente</h1>
				<p class="lead"> Puede cargar mas datos haciendo click en el siguiente boton  </p>

				<form action="/form_p" method="GET">
					<input type="hidden" id="frecuencia" name="frecuencia" value={{ frec }} />
					<button type="submit" class="btn btn-primary" >Cargar Datos</button>
				</form>
			</div>
		</div>
	</body>
</html>