
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">        
        <title>Stadistic Web</title>
    </head>
    <body>
         <div class="container-fluid">
            <div class="jumbotron">
            <h1 class="display-3">Analizar Datos</h1>
            <form action="/form_c" method="GET">
                <div class="form-group">
                <label for="exampleInputEmail1">Ingrese el periodo de muestreo</label>
                <input type="text" class="form-control" id="frecuencia" name="frecuencia" placeholder="Ingrese el periodo de muestreo">
                </div>
                <button type="submit" class="btn btn-primary" >Realizar Consultas</button>
            </form>
            </div>
        </div>
    </body>
</html>